* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #212121;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: repeat(13, minmax(80px, 1fr));
  grid-template-rows: auto;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  grid-column: 1 / -1;
  height: 8dvh;
  height: 8vh;
  justify-content: space-between;
  padding-inline: 2rem;
}

.header-logo {
  font-family: 'DM Serif Display', serif;
}

.section01 {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
}

.section01-image01 {
  grid-column: 7 / -2;
  grid-row: 2 / 7;
  height: 88vh;
  height: 88dvh;
  margin-bottom: -6vh;
  margin-bottom: -6dvh;
  object-fit: cover;
  width: 100%;
}

.section01-title {
  font-family: 'DM Serif Display', serif;
  font-size: 4rem;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  line-height: 1.2;
  text-align: center;
}

.section01-subtitle {
  font-size: 1.5rem;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  text-align: center;
}

.section01-image02 {
  aspect-ratio: 1 / 1;
  grid-column: 2 / 5;
  grid-row: 5 / 6;
  object-fit: cover;
  width: 100%;
}

.section01-image03 {
  align-self: center;
  aspect-ratio: 1 / 1;
  grid-column: -3 / -1;
  grid-row: 5 / 6;
  object-fit: cover;
  width: 100%;
}

.section01-scroll {
  color: #a8946b;
  grid-column: -2 / -1;
  grid-row: 6 / 7;
  padding: 3rem 0 3rem 1rem;
  position: relative;
  writing-mode: vertical-lr;
}

.section01-scroll::after {
  background-color: #a8946b;
  content: "";
  height: 100%;
  left: 1.5rem;
  margin-top: 1rem;
  position: absolute;
  width: 1px;
}

.section02 {
  background-color: #f7f4f3;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  padding-block: 8vh 6vh;
  padding-block: 8dvh 6dvh;
  z-index: -1;
}

.section02-left {
  grid-column: 3 / 8;
  grid-row: 1 / 2;
}

.section02-title {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  line-height: 1.2;
}

.section02-paragraph {
  margin-top: 2rem;
}

.section02-paragraph + .section02-paragraph {
  margin-top: 1rem;
}

.section02-image01 {
  aspect-ratio: 3 / 1;
  grid-column: 3 / 8;
  grid-row: 2 / 4;
  margin-top: 3rem;
  object-fit: cover;
  width: 100%;
}

.section02-right {
  grid-column: 7 / -3;
  grid-row: 3 / 5;
}

.footer {
  align-items: center;
  background-color: #b2b3af;
  color: #fff;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  justify-content: space-between;
  padding-block: 2rem;
}

.footer-logo {
  font-family: 'DM Serif Display', serif;
  grid-column: 2 / -2;
  grid-row: 1 / 2;
}

.footer-icon {
  justify-self: end;
  grid-row: 1 / 2;
}

.footer-icon01 {
  grid-column: -5 / -4;
}

.footer-icon02 {
  grid-column: -4 / -3;
}

.footer-icon03 {
  grid-column: -3 / -2;
}
